[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GOexpress"]
	path = GOexpress
	url = https://github.com/kevinrue/goexpress
	shallow = true
	registered = true
[submodule "TVTB"]
	path = TVTB
	url = https://github.com/kevinrue/tvtb
	shallow = true
	registered = true
