[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GOexpress"]
	path = GOexpress
	url = https://github.com/kevinrue/goexpress
[submodule "velociraptor"]
	path = velociraptor
	url = https://github.com/kevinrue/velociraptor
